version: 2.1

aliases:
  - &environment
    working_directory: ~/code
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m

jobs:
  "Run_Unit_Test_And_Build":
    <<: *environment
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: |
            sudo chmod +x gradlew
            ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Lint
          command: ./gradlew lintDebug
      - run:
          name: Run Unit tests
          command: ./gradlew testDebugUnitTest
      - run:
          name: Generate apk
          command: ./gradlew assembleDebug assembleAndroidTest
      - persist_to_workspace:
          root: ~/code
          paths:
            - app
  "Run_UI_Test":
    <<: *environment
    steps:
      - attach_workspace:
          at: ~/code
      - run:
          name: Check if release branch
          command: |
            if [[ $CIRCLE_BRANCH != *"release/"* ]]; then
              echo "Skipped, reason: UI tests should be running only on release branches!"
              circleci-agent step halt
            fi
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 -di > ${HOME}/gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            sudo gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Test with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --app app/build/outputs/apk/debug/app-debug.apk \
              --test app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
              --device model=lt02wifi,version=19,locale=en,orientation=portrait \
              --device model=hammerhead,version=21,locale=en,orientation=portrait \
              --device model=lv0,version=23,locale=en,orientation=portrait \
              --device model=capricorn,version=26,locale=en,orientation=portrait \
              --device model=tissot_sprout,version=28,locale=en,orientation=portrait \
              --device model=flame,version=29,locale=en,orientation=portrait \
              --device model=flame,version=30,locale=en,orientation=portrait \
      - run:
          name: Install gsutil dependency and copy test results data
          command: |
            sudo pip install -U crcmod
            sudo gsutil -m cp -r -U `sudo gsutil ls gs://test-lab-cqw7cy2hn179i-ikpi5m5q8mj9x | tail -1` ${CIRCLE_ARTIFACTS}/ | true

workflows:
  main:
    jobs:
      - "Run_Unit_Test_And_Build"
      - "Run_UI_Test":
          requires:
            - "Run_Unit_Test_And_Build"