version: 2.1

aliases:
  - &environment
    working_directory: ~/code
    docker:
      - image: cimg/android:2023.06.1
    environment:
      JVM_OPTS: -Xmx3200m

jobs:
  "Run_Unit_Test_And_Build":
    <<: *environment
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: |
            sudo chmod +x gradlew
            ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Run Detekt
          command: ./gradlew app:detekt vgscollect:detekt vgscollect-cardio:detekt --continue --parallel
      - run:
          name: Run Unit tests
          command: ./gradlew testDebugUnitTest
      - run:
          name: Generate Code Coverage Report
          command: |
            if [ "<< pipeline.git.branch >>" != "master" ]; then
              ./gradlew koverHtmlReportDebug
            else
              echo "Code coverage will only be generated on the master branch."
            fi
      - run:
          name: Publish Code Coverage Report
          command: |
            if [ "<< pipeline.git.branch >>" != "master" ]; then
              COVERAGE=$(sed -n '51p' vgscollect/build/reports/kover/htmlDebug/index.html)
              METRIC_VALUE=`echo ${COVERAGE//[[:space:]]/} | sed 's/.$//'`

              echo "$METRIC_VALUE"

              curl --request POST \
                --url https://verygoodsecurity.atlassian.net/gateway/api/compass/v1/metrics \
                --user "$COMPASS_USER_EMAIL:$COMPASS_API_KEY" \
                --header "Accept: application/json" \
                --header "Content-Type: application/json" \
                --data "{\"metricSourceId\":\"$COMPASS_COMPONENT_URL\",\"value\":\"$METRIC_VALUE\",\"timestamp\":\"$(date -u +'%Y-%m-%dT%H:%M:%SZ')\"}"
            else
              echo "Code coverage will only be pushed to compass on the master branch."
            fi
      - run:
          name: Generate apk
          command: ./gradlew assembleDebug assembleAndroidTest
      - persist_to_workspace:
          root: ~/code
          paths:
            - app
  "Run_UI_Test":
    <<: *environment
    steps:
      - attach_workspace:
          at: ~/code
      - run:
          name: Check if release branch
          command: |
            if [[ "<< pipeline.git.branch >>" != "master" ]; then
              echo "Skipped, reason: UI tests should be running only on master branch!"
              circleci-agent step halt
            fi
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 -di > ${HOME}/gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            sudo gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Test with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --app app/build/outputs/apk/debug/app-debug.apk \
              --test app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
              --device model=hammerhead,version=23,locale=en,orientation=portrait \
              --device model=redfin,version=30,locale=en,orientation=portrait \
              --device model=bluejay,version=32,locale=en,orientation=portrait \

workflows:
  main:
    jobs:
      - "Run_Unit_Test_And_Build"
      - "Run_UI_Test":
          requires:
            - "Run_Unit_Test_And_Build"