version: 2.1

aliases:
  - &environment
    working_directory: ~/code
    docker:
      - image: circleci/android:api-29
    environment:
      JVM_OPTS: -Xmx3200m

jobs:
  "Run_Unit_Test_And_Build":
    <<: *environment
    steps:
      - checkout
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: |
            sudo chmod +x gradlew
            ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
#      - run:
#          name: Run Lint
#          command: ./gradlew lintDebug
#      - run:
#          name: Run Unit tests
#          command: ./gradlew testDebugUnitTest
      - run:
          name: Generate apk
          command: ./gradlew assembleDebug assembleAndroidTest
      - when:
          condition:
            equal: [ develop, << pipeline.git.branch >> ]
          steps:
            - run: echo "I am on develop"
      - persist_to_workspace:
          root: ~/code
          paths:
            - app
  "Run_UI_Test":
    <<: *environment
    steps:
      - attach_workspace:
          at: ~/code
      - run:
          name: Check if release branch
          command: |
#            if [[ $CIRCLE_BRANCH != *"release/"* ]] && [ $CIRCLE_BRANCH != master* ]; then
#              echo "Skipped, reason: UI tests should be running only on release branches or master!"
#              circleci-agent step halt
#            fi
      - run:
          name: Store Google Service Account
          command: echo $GCLOUD_SERVICE_KEY | base64 -di > ${HOME}/gcloud-service-key.json
      - run:
          name: Authorize gcloud and set config defaults
          command: |
            sudo gcloud auth activate-service-account --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
      - run:
          name: Test with Firebase Test Lab
          command: >
            sudo gcloud firebase test android run \
              --app app/build/outputs/apk/debug/app-debug.apk \
              --test app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk \
              --device model=hammerhead,version=23,locale=en,orientation=portrait # Nexus 5 (Android 6, Marshmallow) \ 

workflows:
  main:
    jobs:
      - "Run_Unit_Test_And_Build"
      - "Run_UI_Test":
          requires:
            - "Run_Unit_Test_And_Build"