<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.verygoodsecurity.demoapp">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.StartActivity"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity_case.VGSCollectActivity"
            android:label="Collect (Activity)" />

        <!--        TODO(Think about resize)-->
        <activity
            android:name=".tokenization.VGSCollectTokenizationActivity"
            android:label="Tokenization" />

        <activity
            android:name=".fragment_case.VGSCollectFragmentActivity"
            android:label="Collect (Fragment)" />

        <activity
            android:name=".viewpager_case.VGSViewPagerActivity"
            android:label="Collect (ViewPager)" />

        <activity
            android:name=".instrumented.VGSEditTextInputTypeActivity"
            android:label="Instrumented Demo" />

        <activity
            android:name=".instrumented.VGSEditTextActivity"
            android:label="Instrumented Demo" />

        <activity
            android:name=".instrumented.CustomBrandsActivity"
            android:label="Instrumented Demo" />
    </application>
</manifest>