<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.verygoodsecurity.demoapp">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <application
        android:name=".VGSSampleApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="Very Good Security"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".google_pay.GooglePayActivity"
            android:label="Google Pay" />

        <activity
            android:name=".collect_activity.CollectActivity"
            android:label="Collect (Activity)" />

        <activity
            android:name=".tokenization.TokenizationActivity"
            android:label="Tokenization" />

        <activity
            android:name=".tokenization.settings.TokenizationSettingsActivity"
            android:label="Settings" />

        <activity
            android:name=".payopt.PaymentOptimizationActivity"
            android:label="Payopt"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name=".fragment_case.VGSCollectFragmentActivity"
            android:label="Collect (Fragment)" />

        <activity
            android:name=".viewpager_case.VGSViewPagerActivity"
            android:label="Collect (ViewPager)" />

        <activity
            android:name=".instrumented.VGSEditTextInputTypeActivity"
            android:label="Instrumented Demo" />

        <activity
            android:name=".instrumented.VGSEditTextActivity"
            android:label="Instrumented Demo" />

        <activity
            android:name=".instrumented.CustomBrandsActivity"
            android:label="Instrumented Demo" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>
</manifest>